/* type */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: blueviolet
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: blue
}

p, a {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    color: #0f0f3d;
}
/* layout */


/* media */